*{
  margin: 0;
  padding: 0;
}




body {
  background-color: rgba(5, 5, 5, 0.8);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.exit {
  display: flex;
  justify-content:center;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 1.15rem;
  padding: 10px;
  cursor:pointer;
  margin-bottom: 1rem;
  margin-right: -30.7rem;
  margin-top: 0.4rem;
  font-weight: 600;
}


nav {
  text-align: center;
  width: 21rem;
  margin-top: 3rem;
  margin-right: 10rem;
}


.navbar a {
  color: white;
  text-decoration: none;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
}


.overlay {
  width: 30%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  background-color: #1c1c1c;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
  padding: 20px;
  border: 1px solid #2e2e2e;
}


#setting-icon {
  height: 4rem;
  cursor: pointer;

}



.exit :hover {
  opacity:0.8;
}
.navbar a:hover {
  opacity: 0.5;
}

.navbar div {
  margin-top: 10px;
  margin-bottom: 30px;
}




.quality-container,
.controls-container,
.chat-container,
.keybinds-container,
.game-mechanics-container {
  -webkit-user-select: none;
    user-select: none;
    align-content: center;
    width: 100px;
    height: 30px;
    cursor: pointer;
    outline: 0;
    text-align: center;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    background-color: #3d5dff;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 2px 10px rgba(0,0,0,.2),0 4px 0 #374ebf;
    margin: 16px auto;
    margin-left: 2rem;
}
.quality-container:hover,
.controls-container:hover,
.chat-container:hover,
.keybinds-container:hover,
.game-mechanics-container:hover {
  background-color: rgba(4, 83, 202, 0.418);
} 



section {
  display: flex;
}


main {
  align-items: center;
  margin-left: 1rem;
  margin-top: 10.5rem;
}

.box-container {
  display: flex;
  flex-direction: column; 
  width: 300px;
}
main div div {
  margin-inline: 10px;
}

/* this is what controls overlay*/

input {
  margin-right: 1rem ;
}

.status-chat {
  display: flex;
}



.text-button-container {
  display: flex;
  justify-content: space-evenly;
}



div.text-size-container button {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 145, 0, 0.87);
  color: white;
  padding: 10px 4px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 10px;

}

span {
  font-weight: 600;
}



