*{
  margin: 0;
  padding: 0;
}




body {
  background-color: rgba(5, 5, 5, 0.8);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  animation-name: screen;
  animation-timing-function: 3s;
  animation-delay: 2s;
  animation-iteration-count: 1; 
}

.exit {
  display: flex;
  justify-content:center;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 20px;
  border-radius: 45px;
  padding: 10px;
  cursor:pointer;
  margin-bottom: 1rem;
  margin-right: -32.6rem;
  margin-top: 0.4rem;
  background-color: rgb(4, 83, 202);
}


nav {
  text-align: center;
  margin-top: 4rem;
  width: 33rem;
  margin-top: 6rem;
}


.navbar a {
  font-family: Arial;
  color: white;
  text-decoration: none;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}



#setting-icon {
  height: 4rem;
  cursor: pointer;
  display: initial;

}




.exit :hover {
  opacity:0.8;
}
.navbar a:hover {
  opacity: 0.5;
}


.navbar div {
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 30px;
}


.controls-container {
  margin-top: 40px;
}

.quality-container,
.controls-container,
.chat-container,
.keybinds-container,
.game-mechanics-container {
  -webkit-user-select: none;
    user-select: none;
    align-content: center;
    width: 100px;
    height: 30px;
    cursor: pointer;
    outline: 0;
    text-align: center;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    background-color: #3d5dff;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0 2px 10px rgba(0,0,0,.2),0 4px 0 #374ebf;
    margin: 16px auto

}

.quality-container:hover,
.controls-container:hover,
.chat-container:hover,
.keybinds-container:hover,
.game-mechanics-container:hover {
  background-color: rgba(4, 83, 202, 0.418);
} 



section {
display: flex;
}


.button-container {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin-left: -10px;
}


.high-button,
.medium-button,
.low-button  {
  background-color: rgba(255, 145, 0, 0.87);
  color: white;
  padding: 13px 20px;
  height: 50px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 5px;

}

.is-toggled {
  background-color: rgba(207, 119, 3, 0.507);
  
}

div .setting-button-container .is-toggled {
  background-color: rgba(207, 119, 3, 0.507);
  color: white;
}

div .dark-button .is-toggled {
  background-color: rgba(207, 119, 3, 0.507);
  color:  rgba(236,236,236);
}

.is-Toggled-Blind{
  background-color: rgba(207, 119, 3, 0.507) !important;
  color: white !important;
}

main {
  margin-bottom: 150px;
  margin-top: -30px;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
}


div .setting-button button {
  
  -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    text-align: center;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: none;
    border: none;
    background-color: #3d5dff;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0 2px 10px rgba(0,0,0,.2),0 4px 0 #374ebf;
    margin: 16px auto
  
}

.color-blind-button {
 margin-top: 10px;
}



